{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static'https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css '%}" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  
  <style>

    <button type="button" class="btn btn-info">Home</button>
    <button type="button" class="btn btn-info">Add Points</button>

    body {
      text-align: center;
    }

    .button-container {
      margin-top: 20px;
    }

    .apps {
      display: inline-block;
      padding: 10px 20px;
      margin-left: 300px;
      margin-right:150px;
      text-decoration: none;
      border-radius: 5px;
    }

    .center-button {
      display: block;
      margin: 10px;
      padding: 10px 20px;
      background-color: black;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
      text-align:center;
    }

  </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">HELLO ADMIN</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% static 'home.html'%}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="settings.html">Add Apps</a>
              </li>
              
            </ul>
            
          </div>
        </div>
      </nav>
      <br>
      <br>
      <br>

    <div class="apps">
      <label for="apps"><b>App Name:<b></label>

      <select name="appname" id="apps">
        <option value="facebook">FaceBook</option>
        <option value="linkedin">LinkedIn</option>
        <option value="snapchat">Snapchat</option>
      </select>

      

      <label for="apps"><b>App Link:<b></label>

        <select name="appname" id="apps">
          <option value="facebook">www.facebook.com</option>
          <option value="linkedin">www.linkedin.com</option>
          <option value="snapchat">www.snapchat.com</option>
        </select>
    </div>

  
  <br>
  <br>
  <br>

  <a href="profile.html" class="center-button">Add Points</a>
  <a href="submit.html" class="center-button">Submit</a>
  
  <script>
    
  </script>
  <script src="{% static 'https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js'%}" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>