{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profiles</title>
    <link href="{% static 'https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <h1>Profile page</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">App</th>
            <th scope="col">Points</th>
            <th scope="col">Screenshot</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Facebook</td>
            <td>200</td>
            <td>screenshot/20221223_113744.jpg</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>LinkedIn</td>
            <td>250</td>
            <td>screenshot/20221223_110943.jpg</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Snapchat</td>
            <td>100</td>
            <td>screenshot/20221223_110934.jpg</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td colspan="2"></td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <script src="{% static 'https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js' %}" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>