{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link href="{% static 'https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css'%}" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        .button-container {
            display: inline-block;
            padding: 10px 20px;
            margin-left: 250px;
            margin-right: 100px;
            text-decoration: none;
            border-radius: 5px;
          }

        .shadow-none bg-gray-100{
            width:250px;
            margin-left: 265px;
            margin-right: 50px;
        }

        .center-button {
            display: block;
            margin: 10px;
            padding: 10px 20px;
            background-color: black;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            text-align:center;
          }

          
    </style>


</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">HELLO USER</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="home.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="settings.html">Add app</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="profile.html">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="profile.html">Points</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="profile.html">Task</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="home.html">Logout</a>
              </li>
              
            </ul>
            
          </div>
        </div>
      </nav>

      <br>
      <br>

      
      <div class="button-container">
        <label for="app"><b>Add App:</b>
            <input type="text" size="30" name="addapp" id="addapp" autocomplete="addapp">
        </label>
        
        
        <label for="points"><b>Points:</b>
            <input type="number" size="30" name="points" id="points" autocomplete="points">
        </label>
        <br>
        <br>
        <br>
        <br>


        <div class="">
            <label for=""><b> Upload your Screenshot Here!</b></label>
            <br>
            <img width="100" height="100" src="{{user_profile.profileimg.url}}" />
            <br>
            <br>
            <input type="file" name="image" value="" class="shadow-none bg-gray-100">
            <br>
            <br>
        </div>
          <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>

    
    
    <a href="#" class="center-button">Submit</a>
    <script src="{% static 'https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js'%}" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    
</body>
</html>